* {
    box-sizing: border-box
}

.diva {
    border: 2px ;
    width: 150px;
    height: 30px;
    background-color: rgb(196, 195, 195);
    margin: 5px;
}

.diva li {
    border: 1px;
    width: 150px;
    height: 15px;
    background-color: white;
}
li {
    display: none;
    border: 1px;
    background-color: black;
    
}